@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.yellow{
  color:#FBAC18;
}
.yellow-border{
  color:#FBAC18;
  border: 1px solid #FBAC18;
}
.yellow-background{
  background-color:#FBAC18;
  color:#fff;
}
.img {
  width:-webkit-fill-available;
}
.light-gray-background{
  background-color: #f8f8f8;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Montserrat' , sans-serif;
  }
}